
<div class="container">

	<div id="left" >
    
    <div class="modal-content">
      <div class="modal-header">        
        <h4 class="modal-title">新闻动态</h4>
      </div>
      <div class="modal-body">
      	<ul class="news">
      	
      		<li ng-repeat="news in news">
			<a>{{news.title}}</a>  {{news.date}}<br>
			</li>
		</ul>
      </div>
    </div><!-- /.modal-content -->
    
    <div class="modal-content">
      <div class="modal-header">        
        <h4 class="modal-title">新闻动态</h4>
      </div>
      <div class="modal-body">
      	<ul class="news">
      	
      		<li ng-repeat="news in news">
			<a>{{news.title}}</a>  {{news.date}}<br>
			</li>
		</ul>
      </div>
    </div><!-- /.modal-content -->
    
    <div class="modal-content">
      <div class="modal-header">        
        <h4 class="modal-title">联系我们</h4>
      </div>
      <div class="modal-body">
			{{contactUs.companyName}}<br>
			通讯地址：{{contactUs.address}}<br>
			移动电话：{{contactUs.telephone}}<br>
			联 系 人：{{contactUs.contact}}<br>
			<br>
      </div>
    </div><!-- /.modal-content -->
	</div>
	
    <div class="col-md-8 modal-content">
      <div class="modal-header">        
        <h4 class="modal-title">公司简介</h4>
      </div>
      <div class="modal-body">
		电话：0370-4116815<br>   
		传真：0370-4116815<br>
		手机：15518707128<br>
		          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15518703258<br>
		          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;18103979818<br>
		邮箱：zhonghongyang@126.com  <br>  
		Q Q：767095857<br>
		地址：河南省虞城县木兰大道东段木兰大剧院西300米路南（木兰小区三楼）<br>
		乘车路线：<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;火车：乘火车至商丘站或商丘南站下车，打的或乘商虞专线公交车到西转盘下车。<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;汽车：乘汽车至商丘汽车站下车，打的或乘商虞专线公交车到西转盘下车。<br>
		自驾路线：1.走连（连云港）霍（新疆霍尔果斯）高速<br>
		             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.走济（济南）广（广州）高速<br>
		开车至商丘南站或商丘东站高速路口下高速，向东——虞城县方向。<br>
      </div>
      <div class="temp">
      	<span></span>
      </div>
    </div><!-- /.modal-content -->
	
	
	
</div>
